@import "variables";
@import "vendor/bootstrap/bootstrap/variables";
@import "vendor/bootstrap/bootstrap/mixins";

.release-number {
  color: $color-white;
  font-size: 15vh;
  line-height: 1.2;

  @media (max-width: $screen-xs-max) {
    font-size: 15vw;
  }

  @media (max-width: $screen-xs) {
    font-size: 60px;
  }
}
